FOR LOOP

A for Loop is used to iterate over a list, tuple, or string, as well as other iterable objects. Iterating over a sequence involves going through each element one by one.

1. Basic For Loop

In [1]:
for a in 'london':
    print("letter {}". format(a))

letter l
letter o
letter n
letter d
letter o
letter n

In [2]:
snack = ['Bengbeng', 'milkita', 'ovaltine cookies']

for b in snack:
    print("snack {}". format(b))

snack Bengbeng
snack milkita
snack ovaltine cookies

In [3]:
for c in range(5):
    print(c)

0
1
2
3
4

In [4]:
for c in range(1,5):
    print(c)

1
2
3
4

2. Nested For Loop

A nested loop is one that is inside another loop. Furthermore, the initial pass of the outer loop will initiate the inner loop, which will run until completion. Following that, the second pass of the outer loop will reactivate the inner loop.

Example #1 - Right Triangle

In [5]:
for row in range(3):
    for col in range(3):
        if row == 0 and col <=2:
            print("*", end = " ")
        elif row == 1 and col <= 1:
            print("*", end = " ")
        elif row == 2 and col == 0:
            print("*", end = " ")
    print()

* * *
* *
*

Example #2 - E

In [6]:
for row in range(5):
    for col in range(2):
        if row == 0 and col <=1:
            print("*", end = " ")
        elif row == 1 and col == 0:
            print("*", end = " ")
        elif row == 2 and col <=1:
            print("*", end = " ")
        elif row == 3 and col == 1:
            print("*", end = " ")
        elif row == 4 and col <=1:
            print("*", end = " ")        
    print()

* *
*
* *
*
* *

Example #2 - S

In [7]:
for row in range(5):
    for col in range(3):
        if row == 0 and col <=1:
            print("*", end = " ")
        elif row == 1 and col == 0:
            print("*", end = " ")
        elif row == 2 and col <=1:
            print("*", end = " ")
        elif row == 3 and col == 1:
            print("  *", end = " ")
        elif row == 4 and col <=1:
            print("*", end = " ")        
    print()

* *
*
* *
  *
* *

Example #3 - big right triangle

In [8]:
for row in range(6):
    for col in range(5):
        if row == 0 and col <=4:
            print("*", end = " ")
        elif row == 1 and col <=3:
            print("*", end = " ")
        elif row == 2 and col <=2:
            print("*", end = " ")
        elif row == 3 and col <=1:
            print("*", end = " ")
        elif row == 4 and col == 0:
            print("*", end = " ")        
    print()

* * * * *
* * * *
* * *
* *
*

3. Else after For

Example #1

In [9]:
for c in range(1,10):
    if c % 3 == 0:
        print("{} is multiple of three".format(c))
    else:
        print("{} is not multiple of thre".format(c))

1 is not multiple of thre
2 is not multiple of thre
3 is multiple of three
4 is not multiple of thre
5 is not multiple of thre
6 is multiple of three
7 is not multiple of thre
8 is not multiple of thre
9 is multiple of three

4. Break Statement

The break statement is used to break or terminate a loop whenever we desire.

Example #1

In [10]:
for b in "Price List":
    if b == " ":
        break
    print(b)

P
r
i
c
e

Example #2

In [11]:
for b in "Price-List":
    if b == "-":
        break
    print(b)

P
r
i
c
e

5. Continue Statement

The continue statement skips the remaining statements in the loop and begins the next iteration.

Example #1

In [12]:
for d in "color spectrum":
    if d == "c":
        continue
    print(d)

o
l
o
r

s
p
e
t
r
u
m